<h3>Exam</h3>

<table class="resource_table" border="1" cellpadding="5">
  <thead>
    <tr>
      <th align="center">Exam</th>
      <th align="center">Time</th>
      <th align="center">Problem</th>
      <th align="center">Solution</th>
    </tr>
  </thead>

  {% for exam in site.data.resource.exams %}
    {% capture static_url %}{{site.baseurl}}{{'/static'}}{{site.term_url}}{% endcapture %}
    {% capture exam_base_url %}{{static_url}}{{'/exams/'}}{% endcapture %}
    <tr>
        <td align="center">{{exam.name}}</td>
        <td align="center">{{exam.time}}</td>
        {% if exam.exam_file %}
            <td align="center"><a href="{{exam_base_url}}{{exam.exam_file}}.pdf">Problems</a></td>
        {% else %}
            <td align="center">To be released</td>
        {% endif %}

        {% if exam.exam_sol %}
            <td align="center"><a href="{{exam_base_url}}{{exam.exam_sol}}.pdf">Problems</a></td>
        {% else %}
            <td align="center">To be released</td>
        {% endif %}
    </tr>
  {% endfor %}
</table>