<paper-toolbar>
  <div class="site-title">
    <h2><a href="{{ site.url }}">{{ site.title }}</a></h3>
  </div>
  <div class="cust_nav">
    {% for my_page in site.pages %}
      {% if my_page.title %}
        <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
  <div class="cust_nav_right">
    <a class="nav-link" href="https://piazza.com/class/imm91o6q8qv5hg" target="_blank">Piazza</a>
    <a class="nav-link" href="{{site.baseurl}}/static/online/index.html" target="_blank">Practice Problems</a>
  </div>
</paper-toolbar>