<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" type="text/css" rel="stylesheet" media="screen">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/bower_components/moment/moment.js"></script>
  <link rel="import" href="{{ site.baseurl }}/bower_components/iron-icons/iron-icons.html">
  <link rel="import" href="{{ site.baseurl }}/bower_components/iron-pages/iron-pages.html">
  <link rel="import" href="{{ site.baseurl }}/bower_components/paper-drawer-panel/paper-drawer-panel.html">
  <link rel="import" href="{{ site.baseurl }}/bower_components/paper-icon-button/paper-icon-button.html">
  <link rel="import" href="{{ site.baseurl }}/bower_components/paper-tabs/paper-tabs.html">
  <link rel="import" href="{{ site.baseurl }}/bower_components/paper-toolbar/paper-toolbar.html">
  <link rel="import" href="{{ site.baseurl }}/bower_components/polymer/polymer.html">
  <link rel="import" href="{{ site.baseurl }}/page_theme/technology/technology.html">
</head>
