<div class="notes">
    <h3>Official Notes</h3>

    There is no textbook for this class. Instead, there is a set of fairly comprehensive lecture notes. Notes posted well in advance of lecture may change closer to the date. So make sure you revisit the notes after lecture. Note 0 is background material that you should make sure you understand before the first lecture. Each note may be covered in one or more lectures.

    {% capture static_url %}{{site.baseurl}}{{'/static'}}{{site.term_url}}{% endcapture %}
    {% capture notes_url %}{{static_url}}{{'/notes/compiled/'}}{% endcapture %}
    {% capture extra_notes_url %}{{static_url}}{{'/extra_note/'}}{% endcapture %}

    <ul>
    <li><a href="{{notes_url}}n0.pdf">Note 0: Review of Math Notation</a></li>
    <li><a href="{{notes_url}}n1.pdf">Note 1: Propositions and Quantifiers</a></li>
    <li><a href="{{notes_url}}n2.pdf">Note 2: Proofs</a></li>
    <li><a href="{{notes_url}}n3.pdf">Note 3: Induction</a></li>
    <li><a href="{{notes_url}}n4.pdf">Note 4: Graph Theory</a></li>
    <li><a href="{{notes_url}}n5.pdf">Note 5: Stable Marriage</a></li>
    <li><a href="{{notes_url}}n6.pdf">Note 6: Counting</a></li>
    <li><a href="{{notes_url}}n7.pdf">Note 7: Infinity and Countability</a></li>
    <li><a href="{{notes_url}}n8.pdf">Note 8: Self-Reference and Computability</a></li>
    <li><a href="{{notes_url}}n9.pdf">Note 9: Introduction to Discrete Probability</a></li>
    <li><a href="{{notes_url}}n10.pdf">Note 10: Conditional Probability</a></li>
    <li><a href="{{notes_url}}n11.pdf">Note 11: Two Killer Applications</a></li>
    <li><a href="{{notes_url}}n12.pdf">Note 12: Random Variables: Distribution and Expectation</a></li>
    <li><a href="{{notes_url}}n13.pdf">Note 13: Variance</a></li>
    <li><a href="{{notes_url}}n14.pdf">Note 14: Chebyshev's Inequality</a></li>
    <li><a href="{{notes_url}}n15.pdf">Note 15: Some Important Distributions</a></li>
    <li><a href="{{notes_url}}n16.pdf">Note 16: Continuous Probability</a></li>
    <li><a href="{{notes_url}}n17.pdf">Note 17: Inference</a></li>
    <li><a href="{{notes_url}}n18.pdf">Note 18: Zipf’s Law and Power Law Distributions</a></li>
    <li><a href="{{notes_url}}n19.pdf">Note 19: How to Lie with Statistics</a></li>
    <li><a href="{{notes_url}}n20.pdf">Note 20: Modular Arithmetic</a></li>
    <li><a href="{{notes_url}}n21.pdf">Note 21: Bijections and RSA</a></li>
    <li><a href="{{notes_url}}n22.pdf">Note 22: Polynomials and Secret Sharing</a></li>
    <li><a href="{{notes_url}}n23.pdf">Note 23: Error Correcting Codes</a></li>
    </ul>


    <h3>Extra Notes</h3>
    And here are some additional notes compiled by previous TAs:

    <ul>
        <li> <a href="{{extra_notes_url}}sinho_cs_70_notes.pdf"> Sinho's notes on CS70 </a> </li>
        <li> <a href="http://alvinwan.com/abcDMPT/"> Alvin's notes on CS70 </a> </li>
    </ul>
</div>