<h3>Notes</h3>

There is no textbook for this class. Instead, there is a set of fairly comprehensive lecture notes. The notes are undergoing revisions this semester, so notes posted well in advance of lecture may change closer to the date. So make sure you revisit the notes after lecture. Note 0 is background material that you should make sure you understand before the first lecture. Each note may be covered in one or more lectures.  We are still
working on some new notes for late in the semester; they will appear later.

{% capture static_url %}{{site.baseurl}}{{'/static'}}{{site.term_url}}{% endcapture %}
{% capture notes_url %}{{static_url}}{{'/notes/compiled/'}}{% endcapture %}

<ul>
<li><a href="{{notes_url}}n0.pdf">Note 0</a>: Review of Math Notation</li>
<li><a href="{{notes_url}}n1.pdf">Note 1</a>: Propositions and Quantifiers</li>
<li><a href="{{notes_url}}n2.pdf">Note 2</a>: Proofs</li>
<li><a href="{{notes_url}}n3.pdf">Note 3</a>: Induction</li>
<li><a href="{{notes_url}}n4.pdf">Note 4</a>: Stable Marriage</li>
<li><a href="{{notes_url}}n5.pdf">Note 5</a>: Graph Theory</li>
<li><a href="{{notes_url}}n6.pdf">Note 6</a>: Modular Arithmetic</li>
<li><a href="{{notes_url}}n7.pdf">Note 7</a>: Bijections and RSA</li>
<li><a href="{{notes_url}}n8.pdf">Note 8</a>: Polynomials</li>
<li><a href="{{notes_url}}n9.pdf">Note 9</a>: Error Correcting Codes</li>
<li><a href="{{notes_url}}n10.pdf">Note 10</a>: Infinity and Uncountability</li>
<li><a href="{{notes_url}}n11.pdf">Note 11</a>: Self-Reference and Uncomputability</li>
<li><a href="{{notes_url}}n12.pdf">Note 12</a>: Counting</li>
<li><a href="{{notes_url}}n13.pdf">Note 13</a>: Introduction to Discrete Probability</li>
<li><a href="{{notes_url}}n14.pdf">Note 14</a>: Conditional Probability</li>
<li><a href="{{notes_url}}n15.pdf">Note 15</a>: Two Killer Applications</li>
<li><a href="{{notes_url}}n16.pdf">Note 16</a>: Random Variables: Distribution and Expectation</li>
<li><a href="{{notes_url}}n17.pdf">Note 17</a>: Variance</li>
<li><a href="{{notes_url}}n18.pdf">Note 18</a>: Chebyshev's Inequality</li>
<li><a href="{{notes_url}}n19.pdf">Note 19</a>: Some Important Distributions</li>
<li><a href="{{notes_url}}n20.pdf">Note 20</a>: Continuous Probability</li>
<!-- <li><a href="{{notes_url}}n21.pdf">Note 21</a>: Inference </li> -->
<!-- <li><a href="{{notes_url}}n22.pdf">Note 22</a>: Zipf's Law and power law distributions</li> -->
<!-- <li><a href="{{notes_url}}n23.pdf">Note 23</a>: How to lie with probability</li> -->
<!-- <li><a href="{{notes_url}}n24.pdf">Note 24</a>: Linear regression and conditional expectation </li>    -->
</ul>