<polymer-element is='main-resource' class='resource-tab'>

    <paper-tabs selected="0" noink>
        <paper-tab>Notes</paper-tab>
        <paper-tab>Weekly Resource</paper-tab>
    </paper-tabs>

    <iron-pages selected="0">
        <div>{% include notes.html %}</div>
        <div>{% include weekly.html %}</div>
    </iron-pages>

</polymer-element>

<script>
     var pages = document.querySelector('iron-pages');
     var tabs = document.querySelector('paper-tabs');

    tabs.addEventListener('iron-select', function() {
        pages.selected = tabs.selected;
    });
</script>