/**
 * Site header
 */

.site-title {
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -1px;
    color: #ffffff;
    padding-left: $spacing-unit;
}

.course-detail {
    font-size: 18px;
}

/**
 * Navigation
 */

.cust_nav {
    padding-right:$spacing-unit;
    padding-left:$spacing-unit;
}

.cust_nav_right {
    margin-right:$spacing-unit;
    margin-left: auto;
}

.nav-link {
    padding: 10px 15px 10px 15px;
    font-size: 18px;
}

.resources {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.resource_table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.photo-long {
    height: 250px;
    padding: 10px 10px 10px 10px;
}

.syllabus hr {
    border: 1px solid #373b50;
}

.syllabus ul {
    font-size: 18px;
}

.sidebar {
    position: fixed;
    top: 80px;
    overflow-y: auto;
    height: 80%;
}

.notes{
    font-size: 15px;
}



table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }