/**
 * Site header
 */

.site-title {
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -1px;
    color: #ffffff;
    padding-left: $spacing-unit;
}

.course-detail {
    font-size: 18px;
}

/**
 * Navigation
 */

.nav {
    float: right;
    margin-right:$spacing-unit;
    padding-left:$spacing-unit;
}

.nav-link {
    padding: 10px 15px 10px 15px;
    font-size: 18px;
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}



