---
title: Syllabus
permalink: /syllabus/
---


<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id="content" class="container" style="padding-top: 30px;">
        <div class="col-md-10">
            <h2> Course Information </h2>
            <hr>
            <div class="syllabus">
                <h3>Homework Policies</h3><hr>
                <ul>
                    <li>We'll have weekly homework, released on each Monday, due next Monday right before leture.</li>
                    <li> <b> No late homework is accepted. </b> </li>
                    <li> Homework submission, grading, and regrading will be done through Gradescope. We may sample problems in grading. </li>
                    <li> Lowest homework score is dropped. </li>
                    <li> Points may be deducted for solutions that are unclear, do not show intermediate work, or are messy or improperly formatted. </li>
                    <li> Regrades for homework assignments must be requested through Gradescope within five days after you receive your grades. Regrade requests should include a clear explanation of which grading category of the rubric you believe yourself to fall under. We reserve the right to regrade your entire homework, and since we are taking a fresh look at it, it is possible you'll end up with a lower than you started with (though this doesn't usually happen).</li>
                    <li> Homework parties are completely optional. TAs will be present in shifts. Students are expected to help each other out, and, if desired, form ad-hoc "pickup" homework groups in the style of a pickup basketball game. For it to succeed, you all have to be very responsible in taking care of the room, not making messes, and putting things back the way they were.</li>
                    <li> You are encouraged to work on homework in study groups, but you must write up the solutions on your own. Please check the <a href="http://www.eecs.berkeley.edu/Policies/acad.dis.shtml" style="text-decoration: underline;">Department's Policy on Academic Dishonesty</a>. Any student found to be cheating risks automatically failing the class and being referred to the Office of Student Conduct.</li>
                </ul>

                <h3> Grading </h3><hr>
                <p>
                    <ul>
                        <li>20% Homework</li>
                        <li>20% Midterm 1(July 8, 11:30-13:30)</li>
                        <li>20% Midterm 2(July 29, 11:30-13:30)</li>
                        <li>35% Final(August 12, 11:30-14:30)</li>
                        <li>4% Quizzes</li>
                        <li>1% Sundry</li>

                    </ul>
                </p>

                <h3> Tips </h3><hr>
                <ul>
                    <li><b>Don't fall behind!</b> In a conceptual class such as this, it is particularly important to maintain a steady effort throughout the semester, rather than hope to cram just before homework deadlines or exams. This is because it takes time and practice for the ideas to sink in. Make sure you allocate a sufficient number of hours every week to the class, including enough time for reading and understanding the material as well as for doing assignments. (As a rough guide, you should expect to do at least one hour of reading and two hours of problem solving for each hour of lecture.) Even though this class does not have any major projects, you should plan to spend as much time on it as on any of your other technical classes.</li>

                    <li><b>Take the homeworks seriously!</b> The homeworks are explicitly designed to help you to learn the material as you go along. Although the numerical weight of the homeworks is not huge or is zero, we work hard to make them instructive and interesting. Do read the sample solutions, even for the problems on which your recieved full points. You may well learn a different way of looking at the problem, and you may also benefit from emulating the style of the solutions. (In science people learn a lot from emulating the approach of more experienced scientists.) </li>

                    <li><b>Don't wait until the last minute to start homeworks!</b> Our best advice is to read through the homework problems as soon as they are available, and let them percolate in your brain. Think through possible approaches while you are waiting in line, or stuck in an elevator, or whatever. Sleeping on a problem has often helped people to come up with a creative approach to it. Definitely do not wait until the night before it is due to start working on the homework.</li>

                    <li><b>Make use of office hours!</b> The instructor and TAs hold office hours expressly to help you. It is often surprising how many students do not take advantage of this service. You are free to attend as many office hours as you wish (you are not constrained just to use the office hours of your section TA). You will also likely get more out of an office hour if you have spent a little time in advance thinking about the questions you have, and formulating them precisely. (In fact, this process can often lead you to a solution yourself!)</li>

                    <li><b>Come to homework parties!</b> We encourage collaboration on homeworks (but please read the homework policy above! all solutions must be your own). If you want to find a group to work with, or you and your friends want a nice place to work together, come to the homework parties.</li>

                    <li><b>Take part in discussion sections!</b> Discussion sections are not auxiliary lectures. They are an opportunity for interactive learning, through guided group problem solving and other activities. The success of a discussion section depends largely on the willingness of students to participate actively in it. As with office hours, the better prepared you are for the discussion, the more you are likely to get out of it.</li>

                    <li><b>Form study groups!</b> As stated above, you are encouraged to form small groups (two to four people) to work together on homeworks and on understanding the class material on a regular basis. In addition to being fun, this can save you a lot of time by generating ideas quickly and preventing you from getting hung up on some point or other. Of course, it is your responsibility to ensure that you contribute actively to the group; passive listening will likely not help you much. And recall the caveat above that you must write up your solutions on your own.</li>

                    <li><b>Pay attention in lectures!</b> As the semester proceeds, many of you will no doubt feel the urge to "daydream" during lectures, or to skip them altogether, on the grounds that you can catch up by reading the lecture notes. If you follow this strategy, you should be aware that reading mathematics is NOT the same as reading a novel or a news article: each page of mathematics needs to be read many times before it is fully understood, and needs to be backed up by examples and discussion. Following the material in class should save you several readings; even just watching it go by without fully understanding it makes your later reading easier. And you also get the benefit of student questions, examples etc. Exactly how you handle lectures is up to you. One strategy is to print out the lecture notes in advance, bring them to lecture, and add a few additional notes during class.</li>
                </ul>
            </div>

        </div>

    </div>

  </body>
